<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Destinatario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:if="${destinatarios!=null and !destinatarios.empty}">
            <table border="1">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Correo</td>
                        <td>Puesto</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="destinatario : ${destinatarios}">
                        <td th:text="${destinatario.nombre}"></td>
                        <td th:text="${destinatario.email}"></td>
                        <td th:text="${destinatario.puesto}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
